
/* ==================================
   Cool terminal animation stylesheet
   ================================== */

@import url('https://fonts.googleapis.com/css2?family=VT323&display=swap');

.terminal-background {
    position: fixed;
    inset: 0;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.greeting, .shell-sign {
    font-family: 'VT323', monospace;
    color: green;
    font-size: 10rem;
    position: relative;
    margin: 0.1em;
}

.greeting::before,
.greeting::after {

    content: "";
    position: absolute;
    inset: 0;
}

.greeting::after {
    background-color: green;
    width: 1ch;
    height: 0.1em;
    margin-top: 0.95em;
    animation: revealing_characters 4s steps(24) 1s forwards,
    blink 500ms ease 1s infinite; 
}

.greeting::before {
    background-color: black;
    animation: revealing_characters 4s steps(24) 1s forwards; 
}

.enter-button {
    font-family: 'VT323', monospace;
    color: green;
    border: 5px solid green;
    border-radius: 5px;
    font-size: 7rem;
    position: absolute;
    bottom: min(25%, 200px);
    background-color: black;
}

.enter-button:hover {
    color: white;
    border: 5px solid white;
}

@keyframes revealing_characters {

    to { left: 100%; }
}

@keyframes blink {

    to { background: transparent; }
}


body {
    overflow: hidden;
}

/* MEDIA QUERIES */

@media all and (max-width: 45em) 
{
 .greeting, .shell-sign {
    font-size: 2.2rem;
 }   
 .enter-button {
     width: 50vw;
     height: 10vh;
     font-size: 2rem;
 }
}
