/*
   ==================
   Global stylesheets
   ==================
*/

/*
  ==================
  Table of contents

  1. Custom properties
  2. Typography
  3. Layout.
  4. Colorscheme
  5. Media queries
     5.1 Mobile layout
     5.2 Mobile typography

  ========================

*/

@import url('https://fonts.googleapis.com/css2?family=Comfortaa&family=Roboto:ital,wght@0,300;0,700;1,300&display=swap');

/* Custom properties */

:root {
	--hacker-green: rgb(19,161,14);
	--alpha-black: #000c;
	--color1: #020024;
	--color2: #03036a;
	--color3: #006aff;
	--color2alpha: #04036a33;
}

/* Typography */

body {
	font-family: 'Comfortaa', cursive;
	font-family: 'Roboto', sans-serif;
	margin: 0;
}

h1, h2 {
        line-height: 1em;
	text-align: center;
	text-transform: uppercase;
	color: var(--color3); 
	font-weight: 900;
	font-family: 'Roboto Slab', serif;
}

h1 {
	font-size: 3rem;
}

h2{
	font-size: 2.5em;
}

p {
	max-width: 75ch;
	font-size: 1.7em;
	margin: auto;
	line-height: 1.4em;
	margin-top: 0.8em;
	margin-bottom: 0.8em;
	font-weight: 100;
}

p strong {
    font-weight: 900;
}

a{
	text-decoration: none;
}

.mail {
    font-size: .8em;
}

#chess-pieces-list {
    list-style-type: none;
}

#chess-pieces-list > li {
    font-size: 2em;
    text-align: center;
    margin: .2em;
}

/* Layout */

.topics-pane{
        background-color: var(--color2alpha);
	font-weight: 900;
	font-size: 1.2em;
	display: flex;
	border: 2px solid var(--color3);
	padding-inline: .6em;
	margin: 4rem;
	border-radius: 1em;
	justify-content: space-between;
	text-transform: uppercase;
}

.topics-pane a{
    color: white;
    text-decoration: none;
    text-align: center;
}

a:visited:not(nav a),
a:link:not(nav a) {
    color: white;
}


.topics-pane > a:hover,
a:hover:not(nav a) {
	color: var(--color3);

}

#chess-pieces-list img {
    max-width: 10em;
    max-height: 10em;
    margin: auto;
    display: block;
}

.central-pane{
    background-color: var(--color1);
    margin: 4rem;
    color: white;
    font-size: large;
    border-radius: 0.5em;
    padding: .5em;

}

.mobile-navigation-bar,
.close {
	display: none;
}

.courses-nav img {
	height: 10em;
	width: 10em;
	padding-left: 3em;
	padding-right: 3em;
	transition: 1s;
}

.courses-nav img:hover{
    transform: scale(1.5);
}

.return-to-menu {
    font-size: 1em;
    background-color: var(--color2alpha);
    border: 3px solid var(--color3);
    border-radius: .5em;
    color: var(--color3);
    padding: .3em;
}

footer {
    background-color: var(--color1);
    padding: 1rem;
    color: white;
    display: flex;
    justify-content: space-between;
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

/* Colorscheme */

html{
	height: 100%;
        background: rgb(2,0,36);
        background: linear-gradient(171deg, rgba(2,0,36,1) 0%, rgba(3,3,106,1) 35%, rgba(0,106,255,1) 100%);
	background-repeat: no-repeat;
	background-attachment: fixed;
}

/* Media queries */

@media all and (max-width: 700px) {
    /* Mobile layout */

	.topics-pane{
		display: none;
		background-color: black;
	}

	.close {
		color: var(--hacker-green);
		color: red;
		text-align: right;
		margin-right: 0.2em;
	}

	.mobile-navigation-bar {
		color: var(--color3);
		font-size: 3em;
		width: 10%;
		background-color: var(--color2);
		display: block;
		position: sticky;
		top: 0;
		left: 0;
		text-align: center;
		border: 1px solid var(--color3);
	}

	.close{
		display: inline;
	}

	.central-pane{
	    margin-inline: .2em;
	}

	.courses-nav {
	    display: flex;
	    flex-direction: column;
	    align-items: center;
	    flex-grow: 2;
	}

	.courses-nav a {
	    padding: .8em;
	}

	/* Mobile typography */

	p {
	    font-size: 25px;
	    word-break: break-word;
	}
	
	h1 {
	    font-size: 40px;
	}

	footer{
	    flex-direction: column;
	}
}

