
:root{
	--hacker-green: rgb(19,161,14);
	--alpha-black: #000c;
}

html{
	height: 100%;
	background-image: url(../images/background.png);
}
body{
	margin: 0px;
}
h1 {
	color: var(--hacker-green); /* Hacker green */
	font-size: 3rem;
	font-family: monospace;
	text-align: center;
	text-transform: uppercase;
	background-color: var(--alpha-black);
}
p {
	text-align: justify;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
h2{
	text-align: center;
	text-shadow: 0.1em 0.1em black;
	text-transform: uppercase;
	color: var(--hacker-green); /* Hacker green */
}

.mail {  font-size: .8em;}

h5,h6{
    margin: .1em;
}

figcaption{
	text-align: center;
	font-style: italic;
}

#eng_button{
	position: absolute;
	top: 20px;
	right: 40px;
	border-radius: 3px;
	visibility: hidden;
}

nav{
	display: initial;
	font-family: 'Quicksand', sans-serif;
}
#eng_button:hover{
	background-color: cyan;
}
.topics-pane{
	background-color: var(--alpha-black);
	font-weight: bold;
	font-size: 1.2em;
	display: flex;
	border: 2px solid var(--hacker-green); /* Hacker green */
	padding: 0.2em;
	justify-content: space-between;
	text-transform: uppercase;
}

a:visited:not(nav a) {
	color: var(--hacker-green);
}

nav a:hover{

    color: white;
}
.topics-pane a{
	color: var(--hacker-green); /* Hacker green */
	text-decoration: none;
	text-align: center;
}
.topics-pane > a:hover{
	color: white;
}
a:hover:not(nav a){
	color: var(--hacker-green);
}
a{
	text-decoration: none;
}

.close{
	display: none;
}

.central-pane{
	background-color: var(--alpha-black);
	color: white;
	font-size: large;
	border-radius: 0.5em;
	margin-top: 1em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	overflow: hidden;
	

}

.mobile-navigation-bar {
	display: none;
}

.courses-nav{
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.courses-nav img{
	height: 10em;
	width: 10em;
	padding-left: 3em;
	padding-right: 3em;
}

.courses-nav img:hover{
    transform: scale(1.5);
}

.return-to-menu{
    font-size: 1em;
    background-color: var(--alpha-black);
    border: 3px solid var(--hacker-green);
    border-radius: .5em;
    color: var(--hacker-green);
    padding: .3em;
}

@media all and (max-width: 500px) {
	.topics-pane{
		display: none;
		background-color: black;
	}
	.close{
		color: var(--hacker-green);
		color: red;
		text-align: right;
		margin-right: 0.2em;
	}
	.mobile-navigation-bar{
		color: var(--hacker-green);
		font-size: 3em;
		width: 10%;
		background-color: black;
		display: block;
		position: sticky;
		top: 0;
		left: 0;
		text-align: center;
		border: 1px solid var(--hacker-green);
	}
	figure{
		display: none;
	}
	.close{
		display: inline;
	}

}

